<h2>
  {{name}}
  <a href={{doiLink}} target="_blank" rel="noopener">{{year}}</a>
</h2>
<h4>by {{authors}}</h4>

{{#if (is-defined videoLink)}}
  <iframe width="736" height="414" src={{videoLink}}
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br>
  <br>
{{/if}}

<h3>Description</h3>
<div id="algorithm-description">
  <p>
    {{html-safe description}}
  </p>
</div>

<br>

{{yield}}