<input type="number" class="number" id={{inputId}}
       value={{value}} {{action inputAction}} on={{inputEvent}} tabindex={{inputTabIndex}}>
<button class="incrementer" {{action "increment" maxValue inputId inputAction}}>+</button>
<button class="decrementer" {{action "decrement" minValue inputId inputAction}}>-</button>